label {
    float:left;
    width:100px;
    text-align : right;
    padding-right: 0.5em;
}

input, select {    
    float:left;
    margin-right: 1em;
}

fieldset br{
    clear : left;
}


fieldset {
    background-color:#444;
    border : 1px solid #222;
    padding : 5px;
    margin : 10px;
    position:relative;
    padding: 15px 5px 5px 5px;
    margin-bottom : 20px;
    
}

legend{
    position:absolute;
    background-color: #333;
    border : 2px solid #444;
    padding-left : 1em;
    padding-right: 1em;
    font-size : 10px;
    top: -1em;
    left: 0;    
}

input, select{
    border:1px solid #111;
    background-color: #777;
    color: #fff;
}
