
form {	
	text-align: left;
}

fieldset {
	margin-bottom: 10px;
	border: 1px solid #99B3B4;
	padding: 10px;;
}

legend {
	display: none;
}

form h3 {
	clear: both;
	padding: 5px 0px 10px 0px;
	font-size: 14px;
}

form label {
	display: block;
        float:left;
	width: 200px;
	font-size: 12px;
	line-height: 14px;
        font-weight: bold;
        color: #567475;
        padding-top: 6px;
        border-bottom: 1px dotted #567475;
        
}

form input, form select, form date {
	display: block;
	border: 1px solid #99b3b4;
        width: 220px;
	background: #e4ebeb;
	font: 11px verdana, sans-serif;
	color:#443;
	padding:3px;
	margin-bottom:4px;
	outline:none;
}

form input[type=checkbox]{
    width : 16px;
    height: 16px;
}

form select {	
	display: block;
}



form textarea {
	margin-top: 3px;
}

form br {clear:left;}

input.button {
    width : auto;
    border-color :  #666;    
}