@IMPORT url("admin_forms.css");

A,BODY,INPUT,OPTION,SELECT,TABLE,TD,TR,TEXTAREA {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td {
	   text-align: left;
           border: 1px solid #ccccff;
           padding : 5px;
	}

body {
	margin: 0px;
	Background-color: #FFFFFF;
}


A:Link .bLink,A:Visited .bLink {

	Font-Size: 12px;
	Font-Weight: normal;
	Color: #BF0000;
	text-decoration: underline;
}

#leftMenu {
	width: 150px;
	border-right: 1px solid #cccccc;
        float:left;
        overflow : auto;
}

table {
    width : 100%;
    border: 1px solid #99B3B4;        
}

.even td {
    background-color: #E4EBEB;
}

th {
    padding:5px;
	background-color: #cccccc;

}

.clear { clear:both;}

.ErrorTable {
	width: 100%;
	padding: 10px;
	background-color: #FFEEEE;
	Font-Weight: normal;
	border: 1px solid #000000;
}

#header {
    height : 30px;
    padding: 10px;
}

#footer {
    padding: 10px;
    background : #aaa;
}

#content {
    overflow : auto;
    padding: 20px;
    padding-left: 10px;

}

.small-button {
    display: inline-block;
    font-size : 10px;
    background-color: #aaa;
    border : 1px solid #666;
    padding:2px;
    border-radius : 3px;
    margin : 2px;
}

a.small-button {
    color : #000;
    text-decoration: none;
}

.button-on {
    background-color: #99ff66;

}