.hidden {
    display : none;
}

 .even {
     background-color: #fff;
 }

 .bold { font-weight : bold;}

  .small,small {
    font-size: smaller;
 }

 .right { text-align: right;}
 .center { text-align: center;}
 .controller  {
    text-align: center;
    font-size: 10px;
    max-width: 826px;;
 }

 .button {
     display: inline-block;     
     line-height : 30px;
     border: 1px solid #999;
     background-color: #bbb;
     padding: 10px;
     margin: 1em;
     margin-left: 0;
}

