.poradna {
		padding : 1em;
}

.poradna h3 {
	 background-color: #f1c684;
	 padding : 5px;
         margin : 0;
	 
}
.poradna h3 a {text-decoration: none;}
.poradna .read {
	  font-size: small;
	  text-align: right;
	}
.poradna .poradna_info {
  font-size: x-small;
  position: absolute;
  /*top : -15px;*/
  bottom : 0px;
  right : 0px;  
  background-color: #fbeddf;
  padding : 2px;
  border: 2px solid #f1c684;
}

.poradna .poradna_item {
	margin-bottom : 10px;
	background-color: #fbeddf;
	max-width: 40em;
        padding : 0;
        position: relative;
        
}

.poradna_item p {
    margin:  1em;

}

.poradna .poradna_controls {
	  font-size: small;
}

.poradna_controls {
    margin-top : 5px;
}

.poradna_controls a {
    display: inline-block;
    padding : 2px;
    color : #A44906;
    background-color:  #F1C684;
    text-decoration: none;
    font-size : 10px;
}

.poradna_controls a:hover {
   color: #F1C684;
   background-color:  #A44906;
}

.poradna .current {
    border : 1px solid #A44906;
}

.reply {
	margin-left: 20px; 
}